body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative; top:80px;
}

p#cor_red {
    font-size: 16px;  
    color: #ff0000;
    font-weight: 900;
}

a.imagem_logo {
    margin-top: -19px; 
    padding-left: 100px;
    position: absolute; 
}

a.produtos_menu {
    color:#ffffff;
    display: inline;
    position: relative;
    left: 30%;
    font-size: 14px;
    padding-right: 17%; 
    text-decoration: none;
}

nav.menu {
    margin-left: -8px;
    position: fixed;
    background-color: #ff0000;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    top:-5px;
}

footer.rodape {
    font-size: 14px;
    text-align: center;
}

p#recode {
    margin-left: -8px;
    position: fixed; 
    bottom: -15px;
    background-color: #ff0000;
    width: 100%;
    color: #ffffff;  
}

section.categorias {
    font-size: 14px;
    display: inline-block;
}

section a {
    text-decoration: none;
    color: black;
}

section.produtos {
    margin-left: 15%;  
    margin-top: -170px;
}

div.celula {
    margin-top: 10px;
    font-size: 12.5px;
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:40px; 
    overflow: hidden; 
    height: 295px;

}

p.sobre_o_produto {
    width: 200px;
}

p.preco_atual {
    color: #ff0000;
    font-size: 13.5px;
    margin-top: -12px;
}

p.preco_anterior {
    text-decoration: line-through;
    font-size: 12px;
}

section.contato {
    font-size: 110%;  
}

div.linha1ecol1 {
    margin-left: 15%;
    padding-right: 35%;
    display: inline-block;
}

div.linha1ecol2 {
    margin-right: 15%;
    display: inline-block;
}

div.local1 {
    padding-left: 70px;
    display: inline-block;
}

div.local2 {
    padding-left: 200px;
    display: inline-block;
}

div.local3 {
    padding-left: 260px;
    display: inline-block;
}